body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #dac8b3;
    font-family: Arial, sans-serif;
}

.login-container {
    background-color: #fff;
    justify-content: center;
    display: flex;
    flex-direction: column;
    padding: 20px;
    border-radius: 8px;
    width: 300px;
    text-align: center;
}

h1 {
    margin-bottom: 40px;
    color: #dac8b3;
}

.anton-regular {
    font-family: "Anton", sans-serif;
    font-weight: 400;
    font-style: normal;
  }

form {
    display: flex;
    flex-direction: column;
}

.input-container {
    position: relative;
    margin-bottom: 1.5em;
}

input {
    width: 80%;
    padding: 0.8em 0.8em 0.5em;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 1em;
}

label {
    position: absolute;
    top: 50%;
    left: 1.5em;
    padding: 0 0.2em 0;
    color: #999;
    font-size: 1em;
    transition: all 0.2s ease;
    pointer-events: none;
    transform: translateY(-50%);
    background-color: white;
}

.gray-label {
    color: #999;
}

input:focus + label,
.up {
  top: -0.5em;
  color: black;
  background-color: white;
  transform: scale(0.8);
  transform-origin: left;
}

input[type="password"] {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
}

input[type="password"]::-ms-reveal {
    display: none;
}

input:focus + label + .login-container {
    background-color: #0056b3; /* Cor de fundo quando o input está em foco */
}

.toggle-password {
    position: absolute;
    top: 50%;
    right: 1.3em;
    font-size: 24px;
    transform: translateY(-40%);
    background-color: #999;
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
    display: none; /* Esconde o botão inicialmente */
}

input:not(:focus) + label,
#password:not(:focus) + label + .toggle-password #eye-icon {
    color: gray;
}

input:focus + label + .toggle-password,
.up + .toggle-password {
    display: inline; /* Mostra o botão quando o input tem foco ou conteúdo */
}

.submit {
    padding: 10px;
    background-color: #dac8b3;
    width: 100%;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 15px;
}

.submit:hover {
    background-color: #a79580;
}

#alert-message {
    margin-top: 20px;
    font-size: 16px;
}

.modal {
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    width: 300px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    position: absolute;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0; /* Inicialmente oculto */
    transition: opacity 0.5s ease-in-out; /* Transição suave */
}

.modal.show {
    opacity: 1; /* Torna visível */
}

.progress-bar {
    height: 5px;
    background-color: #ccc;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%; /* Largura total do modal-content */
    border-radius: 3px;
}

.progress-bar .progress {
    height: 100%;
    background-color: #dac8b3; /* Cor da linha de progresso */
    position: absolute;
    left: 0;
    top: 0;
    width: 100%; /* Começa com a largura total */
    transition: width 0.1s linear; /* Transição suave da linha de progresso */
}
